.chart-wrapper {
    border-radius: 8px;
    overflow: hidden;
}
.CardSubtitle_newPred {
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: bold;
    padding: 12px;
    margin: 0;
}
.td-values {
      text-align: center;
    }
.th-align-middle {
    text-align: center;
}

.td-left-align {
    text-align: start;
}

.row-color {
    background-color: #eaeeff;
}

.sim-patients-table-head {
    display: flex;
    flex-wrap: wrap;
}
.sim-patients-table-body {
    display: flex;
    flex-wrap: wrap;
}

.sim-patients-table-header  {
    text-align: center !important;
    color: #6c757d !important;
    vertical-align: middle !important;
    font-weight: bold !important;
    padding: 12px !important;
    margin: 0 !important;
    font-size: 1rem !important;
}

.content-parent {
    overflow: hidden;
    transition: height ease 0.9s;
    background: #393d42;
}